<div class="courses section-padding">
    <div class="container">
        <div class="section-heading">
            <h3>Popular Online Courses</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row mt-5 justify-content-center align-items-center gy-5">
            <ng-container *ngFor="let item of myCourses">
                <div class="col-md-6 col-lg-4">
                    <div class="course-box rounded-3 overflow-hidden">
                        <div class="overflow-hidden"><img src="{{item.image}}" alt="{{item.title}}" class="img-fluid d-block w-100"></div>
                        <div class="course-info p-3">
                            <h5>{{item.title}}</h5>
                            <p class="mt-1 mb-2">{{item.instructor}}</p>
                            <small>{{item.desc}}</small>
                        </div>
                        <hr>
                        <div class="course-stats px-3 pb-3 d-flex justify-content-between align-items-center">
                            <p><i class="fa-solid fa-graduation-cap me-1"></i>{{item.studentsNo}} Students</p>
                            <p><i class="fa-solid fa-star me-1"></i>{{item.rating}} Ratings</p>
                            <p>$ {{item.price}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>