<div class="contact-contect d-flex flex-column gap-4 align-items-start">
    <div class="contact-box d-flex justify-content-center gap-3 align-items-center">
        <p class="contact-icon fw-bold fs-5 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-location-dot"></i>
        </p>
        <div class="contact-data">
            <h5>Location:</h5>
            <p class="text-black-50 mt-2">A108 Adam Street, New York, NY 535022</p>
        </div>
    </div>
    <div class="contact-box d-flex justify-content-center gap-3 align-items-center">
        <p class="contact-icon fw-bold fs-5 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-clock"></i>
        </p>
        <div class="contact-data">
            <h5>Open Hours:</h5>
            <p class="text-black-50 mt-2">Sunday-Friday:</p>
            <p class="text-black-50">11:00 AM - 2300 PM</p>
        </div>
    </div>
    <div class="contact-box d-flex justify-content-center gap-3 align-items-center">
        <p class="contact-icon fw-bold fs-5 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-envelope"></i>
        </p>
        <div class="contact-data">
            <h5>Email US::</h5>
            <p class="text-black-50 mt-2">ahmedelbahy06@gmail.com</p>
        </div>
    </div>
    <div class="contact-box d-flex justify-content-center gap-3 align-items-center">
        <p class="contact-icon fw-bold fs-5 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-phone"></i>
        </p>
        <div class="contact-data">
            <h5>Call US::</h5>
            <p class="text-black-50 mt-2">+2 01207933578</p>
            <p class="text-black-50">+2 01557145488</p>

        </div>
    </div>
</div>