.footer {
    background-image: url("../../../assets/images/footer2.jpg");
    background-size: cover;
    background-color: var(--main-black-color);
    position: relative;
}
.footer::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.footer .container {
    position: relative;
    z-index: 1;
}
.footer h4 {
    color: white;
}
.footer h4 span, .footer h4 i {
    color: var(--primary-color);
}

.footer .social-links li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #4B505D;
    transition: var(--main-transition);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.footer .social-links li a {
    color: white;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.footer .social-links li:hover {
    background-color: var(--primary-color);
}

.footer .quick-links li a {
    color: var(--secondary-black-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.footer .quick-links li a:hover {
    color: var(--primary-color);
}