<div class="page-header section-padding d-flex justify-content-center align-items-center">
  <h3 class="display-3 text-white fw-bolder position-relative">Welcome Back</h3>
</div>

<div class="regist section-padding">
  <div class="container">
      <div class="section-heading">
          <h3>Happy To See You Again</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="row mt-5 justify-content-center align-items-center gy-4">
          <div class="col-md-5">
              <img src="assets/images/login.jpg" class="img-fluid w-100 d-block" alt="regist">
          </div>
          <div class="col-md-7">
              <form [formGroup]="loginForm" (submit)="login($event)">
                  <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Your Email</label>
                      <input
                        formControlName="email"
                        type="email"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="Enter  Email"
                      />
                      <ng-container *ngIf="getuseremail.touched">
                        <div
                          *ngIf="getuseremail.hasError('required')"
                          id="emailHelp"
                          class="form-text text-danger"
                        >
                          Email is required
                        </div>
                      </ng-container>
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Password</label>
                      <input
                        formControlName="password"
                        type="password"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="Enter Password"
                      />
                      <ng-container *ngIf="getuserpassword.touched">
                        <div
                          *ngIf="getuserpassword.hasError('required')"
                          id="emailHelp"
                          class="form-text text-danger"
                        >
                          Password is required
                        </div>
                      </ng-container>
                    </div>
                  <button type="submit" class="button">Login</button>
                </form>
          </div>
      </div>
  </div>
</div>